
<section>
  <h1>Bienvenid@ al famoso juego literario del Cadáver exquisito</h1>
  <p>
    Se trata de crear un texto surrealista donde cada uno añade algunas lí­neas al final
    sin conocer todo el texto anterior.
  </p>
  <p>Para añadir tu colaboración debes escribir un comentario (Máximo 300 caracteres).</p>
  <p>El juego finaliza el: {{dateString}} el formulario cerrará y podrás ver el resultado.</p>
  <nav>
    <a routerLink="/result" routerLinkActive="active">Ver resultado</a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
  </nav>
  <router-outlet></router-outlet>
</section>
