
<nav>
  <a routerLink="/home" routerLinkActive="active">
    <img src="http://moziru.com/images/frankenstein-clipart-2.png" alt="Icon home">
  </a>
</nav>
<main>
  <h1>Bienvenid@ al famoso juego literario del Cadáver exquisito</h1>
  <h2>
    Se trata de crear un texto surrealista donde cada uno añade algunas lí­neas al final
    sin conocer todo el texto anterior.
  </h2>
  <h2>Para añadir tu colaboración debes escribir un comentario (Máximo 60 caracteres).</h2>
</main>
<router-outlet></router-outlet>
