/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
}

section {
  margin-top:  80px;
  text-align: center;
}

h1 {
  font-size: 40px;
}

textarea {
  display: block;
  border-radius: 10px;
  font-size: 18px;
  margin: 10px auto;
  padding: 10px;
}

input[type="submit"] {
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 15px;
}

#gameResult {
  margin: 50px auto;
}
